// ========================================
// Buttoon
// ========================================

.unical-calendar__buttoon,
.unical-calendar__buttoon--image {
  border: 1px solid $m2;
  margin: 0 0 3%;
  padding: em(18, 14);
  font-family: $serif;
  font-size: em(14);
  color: $m2;
  outline: 0;
  transition:
    background .2s,
    color .2s;

  @media (min-width: 501px) {
    margin-bottom: em(4);
  }

  @media (max-width: 500px) {
    width: 100%;
    padding: em(18, 14) em(10, 14);
  }

  &:hover {
    background: $m2;
    color: #fff;
  }

}

.unical-calendar__buttoon--full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  margin-bottom: em(30, 20);
  padding: em(22, 20) em(20, 20);
  font-family: 'Open Sans';
  font-size: em(20);
  font-weight: bold;
  text-transform: uppercase;
  background: $m2;
  border-radius: em(5, 20);
  color: #fff;

  &:hover {
    background: $m1;
  }

  i {
    font-size: 140%;
  }

}

.unical-calendar__buttoon--image {
  background: none;
}

.unical-calendar__clear-filters {
  outline: 0;
}


// ========================================
// Toolbox
// ========================================

.unical-calendar {

  .addthis_toolbox {

    @media (max-width: 500px) {
      display: block;
      width: 100%;
    }

    a {
      margin-bottom: 0 !important;
      line-height: 1 !important;
    }

  }

  .addthisevent_dropdown {
    width: 100%;

    @media (min-width: 1000px) {
      width: 200%;
    }

  }

}


// ========================================
// Submit Event Back
// ========================================

.unical-calendar__submit-form-back {
  margin-bottom: em(20);

  a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;

    &:before {
      display: inline-block;
      margin-right: em(10);
      font-family: 'FontAwesome';
      font-size: 125%;
      font-weight: normal;
      content: '\f104';
    }

    &:hover {
      color: $m1;
    }

  }

}


// ========================================
// Add This
// ========================================

/*add-this {
  position: relative;
  display: block;
  text-align: center;

  @media (min-width: 500px) {
    display: inline-block;
    vertical-align: top;
  }

  &:after {
    display: block;
    border: 1px solid $m2;
    padding: em(13, 15) em(18, 15);
    font-family: 'FontAwesome';
    font-size: em(15);
    cursor: pointer;
    content: '\f1e0  Share';
    color: $m2;
  }

  &:hover {

    a {
      opacity: 1;
      visibility: visible;
    }

  }

  a {
    position: absolute;
    left: 0;
    z-index: 200;
    width: 100%;
    border-color: transparent !important;
    margin-bottom: 0 !important;
    padding-right: em(10);
    padding-left: em(10);
    background: #f9f9f9;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity .3s,
      visibility .3s;

    @media (min-width: 500px) {
      width: 250%;
      text-align: left;
    }

    @for $i from 1 through 5 {

      &:nth-of-type(#{$i}) {
        top: 100% * $i;
        margin-top: em(-13 * $i, 14);

        @media (min-width: 500px) {
          margin-top: 0;
        }

      }

    }

  }

}*/
