// ========================================
// Sidebar
// ========================================

    .unical-calendar__sidebar {
      border: 1px solid #ebebeb;
      margin-bottom: em(30);
      padding: 0 em(40);
      background: #f9f9f9;

      > section {

        &:first-child {

          h3 {
            margin-top: 0;
            padding-top: em(30, 18);
          }

        }

        &[ng-if*="event.organizer_name"] {
          padding-bottom: em(40);
        }

        &:last-child {
          border-bottom: 0;
        }

      }

        a {
          word-wrap: break-word;
        }

    }


// ========================================
// Aside
// ========================================

.unical-calendar__aside-text {
  text-align: center;
}
